AlgorithmsInspector/bin
AlgorithmsInspector/obj

ConsoleAlgorithms/bin
ConsoleAlgorithms/obj

AlgorithmsLibrary/bin
AlgorithmsLibrary/obj

*.vs
*.dll
*.sln
*.json
*.exe
*.css
*.js
*.ico
*.pubxml
*.pubxml.user
*.csproj.user